[Unit]
Description=Runner Foxglove bridge

[Service]
Type=simple
User=matti
Group=matti
WorkingDirectory=/home/matti/runner_ws
ExecStart=/bin/bash -lc 'source /opt/ros/jazzy/setup.bash && source /home/matti/runner_ws/install/setup.bash && exec ros2 launch foxglove_bridge foxglove_bridge_launch.xml'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
